.window {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100%;
  
  &>header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 10px 20px;
    display: block;
    border-bottom: 3px solid $dark-border-color;
    order: 0;
    flex:none;
    background: linear-gradient($dark-bg-color, darken($dark-bg-color, 2%));
    box-shadow: 0 5px 5px $shadow-color;
    z-index: 100;
    
    &>.top {
      &>h1 {
        color: $dark-font-color;
        font-size: 1.4em;
        font-weight: bolder;
        float: left;
        margin: 0;
        padding: 0;      
      }
      
      &>.button-group {
        float: right;

        &>.button:first-child,
        &>button:first-child,
        &>.button:last-child,
        &>button:last-child {
          border-width: 0;
          border-radius: 4px;
        }  
 
        button, .button {
          background: transparent;
          border-width: 0;
          border-radius: 4px;
          padding: 0.2em;
          display: inline-block;
          font-size: 1em;
          text-decoration: none;
          color: $dark-font-color;
          box-sizing: border-box;
          
          &:hover {
            background: linear-gradient($selected-bg-color, darken($selected-bg-color, 10%));
            color: $selected-font-color;
          }        
          
          &:active {
            background: linear-gradient(darken($selected-bg-color, 20%), darken($selected-bg-color, 10%));
            color: darken($selected-font-color, 10%);
            box-shadow: inset 0 0 5px $shadow-color;
          }          
         
          &.danger:hover {
            background: linear-gradient($danger-bg-color, darken($danger-bg-color, 10%));
            color: $danger-font-color;
          }           
         
          &.danger:active {
            color: darken($danger-font-color, 10%);
            background: linear-gradient(darken($danger-bg-color, 20%), darken($danger-bg-color, 10%));
            
          }           
          
        }
        
        
      } 
      
      &:before, &:after {
        @include clearfix();
      }      
      
    }
    

    
    &>*:not(.top), button, a, input, select, textarea {
      -webkit-user-select: initial;
      -webkit-app-region: no-drag;
    }
    
  }
  
  &>.content {
    padding: 10px 20px;
	  flex:auto;
	  overflow-y:auto;
    background: linear-gradient($light-bg-color, darken($light-bg-color, 3%));    
  }
  
  &>footer {
    z-index: 100;
    background: linear-gradient($dark-bg-color, darken($dark-bg-color, 2%));
    box-shadow: 0 -5px 5px -5px $shadow-color;
    padding: 10px 20px;
    border-top: 3px solid $dark-border-color;
    order: 2;
    flex:none;
  }
  
}